<div>
  <h2 mat-dialog-title>{{data.name}}</h2>
  <hr>
  <mat-dialog-content>
    <br>
    <br>
    <div>
      <p><strong>Relatório: </strong></p>
      <ul>
        <li *ngFor="let grade of data.grades; let i = index">

          <p><strong>Curso:</strong> {{getCourse(grade.courseid).fullname}}</p>
          <p><strong>Nota:</strong> {{grade.grade}}</p>
          <br>
        </li>
      </ul>
    </div>
    <div *ngIf="data.grades.length == 0">
      <p>Usuário não está matriculado em nenhum curso</p>
    </div>


  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-rased-button (click)="onCloseConfirm()">CONFIRMAR</button>
  </mat-dialog-actions>
</div>
