
h2{
  text-align: center;
  width: 100%
}
.report{
  text-align: center;
}
.topbar{
  background: #F8F8FA;
}
.title{
  margin-top: 50px;
  text-align: center;
}
.chart{
  margin-top: 30px;
  margin-bottom: 50px;
}
.mat-form{
  margin-right: 65px;
  margin-left: 15px;
}
.select{
  text-align: center;
}
.users-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.users-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}
.tabs{
  min-height: 500px;
  width: 100%;

}
.list{
  // overflow: auto;
}
.tb-users{
  width: 100%;
}
//COUNTDOWN
ul.countdown {
  list-style: none;
  margin: 75px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li { display: inline-block; }

ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  padding: 0 20px;
  border-top: 1px solid #C0392B;
  border-bottom: 1px solid #C0392B;
  margin-left: -4px;
}

ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
  text-transform: uppercase;
}

.days {
  background-color: #C0392B;
  padding: 0 10px;
  color: #fff;
}

.last { border-right: 1px solid #C0392B; }

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.filter {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  min-height: 550px;
  // overflow: auto;
}

.info{
  margin-bottom: 150px;
  width: 100%
}
