h3 {
  background: #5C8297;
  padding: 10px 0 10px 0;
  color: white;
  text-align: center;
}
.mat-form {
  width: 120px;
}
li p {
  margin-bottom: 1px;
  margin-left: 10px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.result li{
  padding: 10px;
  background: #E9EAEC;
  border: 1px solid #777777;
  margin-top: 4px;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  float: left;
}
.searchWrapper{
  margin-bottom: 100px;
}
.coursesResult{
  overflow: scroll;
  max-height: 400px;
}
