<div style="text-align:center" class="searchWrapper">
  <h3>Buscador</h3>
  <form (submit)="onSubmit(form_query, form_field, form_moodle)">
    <h4>Buscar
      <mat-form-field class="mat-form" >
        <input [(ngModel)]="form_query" name="form_query" matInput placeholder="pesquisar">
      </mat-form-field>
       no campo
      <mat-form-field class="mat-form">
        <mat-select [(ngModel)]="form_field" name="form_field">
          <mat-option value="users">Usuários</mat-option>
          <mat-option value="courses">Cursos</mat-option>
        </mat-select>
      </mat-form-field>
       no moodle
       <mat-form-field class="mat-form" >
         <mat-select  [(ngModel)]="form_moodle" name="form_moodle">
           <mat-option *ngFor="let moodle of moodles let i = index" [value]="i">{{moodle.name}}</mat-option>
         </mat-select>
       </mat-form-field>
       <input style="width:100px"type="submit" name="search-submit" class="form-control btn btn-primary"value="Buscar">
    </h4>
  </form>
  <div class="result">
    <div *ngIf="courses"class="coursesResult">
      <ul>
        <li *ngFor="let course of result">
          <p><strong>{{course.fullname}}</strong></p>
        </li>
      </ul>
    </div>
    <div *ngIf="users" class="">

    </div>

  </div>

  <!-- <form (submit)="onSubmit(searchQuery)">
    <div class="form-group" >
      <input type="text" [(ngModel)]="searchQuery" name="searchQuery" class=""  class="form-control" placeholder="" value="">
    </div>
    <div class="filterListBox">
      <ul class="filterList">
        <li ><a (click)="filter = 'tudo'">Tudo</a></li>
        <li ><a (click)="filter = 'usuários'; isResult = false" id="usuarios">Usuários</a></li>
        <li ><a (click)="filter = 'cursos'; isResult = false">Cursos</a></li>
      </ul>
    </div>

    <input type="submit" name="search-submit" class="form-control btn btn-primary" value="Buscar {{filter}}">

  </form> -->
</div>
