<div class="block">
  <h4>Buscar Cursos</h4>
  <form (submit)="onSubmit(searchQuery)">
    <div class="form-group" >
      <input type="text" [(ngModel)]="searchQuery" name="searchQuery" class=""  class="form-control" placeholder="" value="">
    </div>
    <input type="submit" name="search-submit" class="form-control btn btn-primary" value="Buscar">
  </form>
  <div *ngIf=(results)>
    <div >
      <h5>Resultado</h5>
      <ul>
        <li *ngFor="let course of results" >
          <ul>
            <li><p>Nome: {{course.fullname}}</p></li>
            <li><p>id: {{course.id}}</p></li>
            <li><p>Categoria: {{course.categoryname}}</p></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
