<div class="display-courses">
  <h3>Cursos</h3>
  <div *ngIf="(isResult)" class="result">
    <form (submit)="onSubmit(searchQuery)">
      <div class="form-group" >
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery"  class="searchbar" placeholder="" ng-change="onSubmit(searchQuery)">
        <input type="submit" name="search-submit" class=" btn btn-primary">
      </div>
    </form>
    <div *ngFor="let courseArray of result" >
      <h4>{{courseArray.moodleName}}</h4>
      <div class="coursesResult">
        <ul *ngFor="let course of courseArray">
          <li>
            <p><strong>{{course.fullname}}</strong></p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
