<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Moodlelize</a>

  <ul class="nav navbar-nav navbar-right">
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Entrar</a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a class="nav-link" (click)="onLogoutClick()" href="#">Sair</a>
    </li>
  </ul>
</nav>
