<div class="">
  <h2 mat-dialog-title>Adicionar Moodle</h2>
  <hr>
  <mat-dialog-content>
    <form [formGroup]="fg_add_moodle">
      <mat-form-field>
        <input formControlName="name" [(ngModel)]="form_name" matInput type="text" class="addText" placeholder="Nome do moodle" value="">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="url" [(ngModel)]="form_url" matInput type="url"  class="addText" placeholder="Endereço do moodle" value="">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="token" [(ngModel)]="form_token" matInput type="text"  class="addText" placeholder="Token" value="">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()" class="btn btn-primary" [disabled]="!fg_add_moodle.valid">Confirmar</button>
    <button md-raised-button (click)="onCloseCancel()"class="btn btn-primary" >Cancelar</button>
  </mat-dialog-actions>
</div>
