
.welcome{
  font-size: 24px;
  font-weight: bold;
}
.item p{
  font-size: 16px;
  margin-bottom: 30px;
}
.itens{
  text-align: center;
  margin-top: 35px;
}

.icon{
  font-size: 72px;
  width: 100%;
  cursor: pointer;
}

.icon:hover{
  color: #189AD3;
}
.icon:active{
  color: #005073;
}
