<div class="jumbotron">
  <div class="container">
    <h1 >Moodlelize</h1>
    <p>Plataforma de relatório e monitoramento de moodles</p>
  </div>
</div>
<div class="container">
  <div *ngIf="!user" class="row">
    <p style="font-size:24px; font-weight: bold; color:#333; text-align:center">Para utilizar a plataforma, faça o login ou cadastre-se</p>
    <flash-messages></flash-messages>
    <app-login></app-login>
  </div>
  <div *ngIf="user">
    <div class="row">
      <p class="welcome">Olá, {{user.displayName}}. Bem vindo ao Moodlelize!</p>
      <p style="font-size:24px; text-align:center; margin-top:70px">O que gostaria de fazer?</p>
    </div>
    <div class="row">
      <div class="itens col-md-12">
        <div class="item col-md-4">
          <p><strong>Adminstrar Moodles</strong></p>
          <mat-icon class="icon" id="add-box" (click)="router.navigate(['moodles'])">add_box</mat-icon>
        </div>
        <div class="item col-md-4">
          <p><strong>Alterar informações de perfil</strong></p>
          <mat-icon class="icon" id="assignment-ind" (click)="router.navigate(['perfil'])">assignment_ind</mat-icon>
        </div>
        <div class="item col-md-4">
          <p><strong>Gerar relatório de curso</strong></p>
          <mat-icon class="icon" id="content-paste" (click)="router.navigate(['relatorio'])">content_paste</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
