
.welcome{
  font-size: 24px;
  font-weight: bold;
}
.card{
  height: 150px;
  width: 150px;
  border: 0px;
  text-align: center;
  cursor: pointer;
}
.card:hover{
  border: 3px solid  #F58021;
}
.card img{
  width: 100px;
  height: 100px;
}
#moodles{
  color: white;
}
.itens{
  text-align: center;
}
.item{
  width: 150px;
  text-align: center;
}
