
.welcome{
  font-size: 24px;
  font-weight: bold;
}
.card{
  height: 200px;
  width: 150px;
  cursor: pointer;
}
.card img{
  width: 24px;
  height: 24px;
}
#moodles{
  background: #F58021;
  color: white;
}
.itens{
  text-align: center;
}
.item{
  width: 150px;
  text-align: center;
}
