.display-users{

  width: 100%;


}
.display-users h3{
  background: #5C8297;
  padding: 10px 0 10px 0;
  color: white;
  text-align: center;

}

.userResult{
  overflow: scroll;
  min-height: 200px;
  max-height: 360px;
}
.form-group{
  text-align: center;
}

li p {
  margin-bottom: 1px;
  margin-left: 10px;
}
ul {
  list-style-type: none;

}

.result li{
  padding: 10px;
  background: #E9EAEC;
  border: 1px solid #777777;
  margin-top: 4px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  width: 400px;
  height: 60px;
  float: left;
}
.result h5{
  float: left;
}
li img{
  width: 45px;
  height: 45px;
  float: left;
  overflow: auto;
  padding: 2px;
}
.icons{
  margin-right: 4px;
  float: right;
}
h4 {
  background: #940000;
  padding: 10px 0 10px 0;
  color: white;
}
