<div class="display-users">
    <h3>Usuários</h3>
  <div *ngIf="(isDoneLoading)" class="result">

    <form (submit)="onSubmit(searchQuery)">
      <div class="form-group" >
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery"  class="searchbar">
        <input type="submit" name="search-submit" class=" btn btn-primary">
      </div>
    </form>

    <div *ngIf="(isResult)">

      <div *ngFor="let userArray of result; let i = index; " class="userList" >
        <h4>{{users[i].moodleName}}</h4>
        <div class="userResult">
          <ul >
            <li *ngFor="let user of userArray">
              <div class="user-elements">
                <div class="user-element user-img"><img [attr.src]="user.profileimageurl" alt=""></div>
                <div class="user-element user-name"><h5><strong>{{user.fullname}}</strong></h5></div>
                <div class="icons user-element">
                  <i (click)="userReport(user.fullname, user.id)"class="material-icons md-24">content_paste</i>
                  <i class="material-icons md-24">create</i>
                  <i class="material-icons md-24">remove_circle</i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="!isDoneLoading" class="alert alert-warning">
    <p>Aguarde enquanto o banco de dados é carregado</p>
  </div>

</div>
