<div class="display-users">
    <h3>Usuários</h3>
  <div *ngIf="(isDoneLoading)" class="result">

    <form (submit)="onSubmit(searchQuery)">
      <div class="form-group" >
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery"  class="searchbar">
        <input type="submit" name="search-submit" class=" btn btn-primary">
      </div>
    </form>

    <div *ngIf="(isResult)">
      <div *ngFor="let userArray of result" class="userList" >
        <h4>{{userArray.moodleName}}</h4>
        <div class="userResult">
          <ul >
            <li *ngFor="let user of userArray">
              <img [attr.src]="user.profileimageurl" alt="">
              <h5><strong>{{user.fullname}}</strong></h5>
              <div class="icons">
                <i (click)="userReport(user.fullname, user.id)"class="material-icons md-18">content_paste</i>
                <i class="material-icons md-18">create</i>
                <i class="material-icons md-18">remove_circle</i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="!isDoneLoading" class="alert alert-warning">
    <p>Aguarde enquanto o banco de dados é carregado</p>
  </div>

</div>
