.display-users{

  width: 100%;


}
.display-users h3{
  background: #5C8297;
  padding: 10px 0 10px 0;
  color: white;
  text-align: center;

}

.userResult{
  overflow: scroll;
  min-height: 200px;
  max-height: 360px;
}
.form-group{
  text-align: center;
}

li p {
  margin-bottom: 1px;
  margin-left: 10px;
}
ul {
  list-style-type: none;
  margin: 0px;

}

.result li{

  background: #E9EAEC;
  border: 1px solid #777777;
  margin-top: 4px;
  margin-right: 20px;
  cursor: pointer;
  width: 400px;
  height: 60px;
  display: inline-block;

}

.icons{
  margin-right: 4px;
  float: right;
}

.user-element{
  display: inline-block;
}
.user-elements{
  padding: 5px;
}
.user-img{
  float: left;
  padding: 4px;
  margin-right: 5px;
}
.user-img img{
  width: 45px;
  height: 45px;
}

.user-name h5{
  padding: 0px;

}

.md-24{
  font-size: 24px;
}
