<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['']">Moodlelize</a>

  <ul class="nav navbar-nav navbar-right" style="float:right">
    <li *ngIf="user" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li *ngIf="user" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a class="nav-link" [routerLink]="['/profile']">Perfil</a>
    </li>
    <li *ngIf="!user"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Entrar</a>
    </li>
    <li *ngIf="user" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a class="nav-link" (click)="authService.signOut()">Sair</a>
    </li>
  </ul>
</nav>
