<div style="text-align:center" class="searchWrapper">
  <h3>Buscador</h3>
  <form (submit)="onSubmit(form_query, form_field, form_moodle)">
    <h4>Buscar
      <mat-form-field class="mat-form" >
        <input [(ngModel)]="form_query" name="form_query" matInput placeholder="pesquisar">
      </mat-form-field>
       no campo
      <mat-form-field class="mat-form">
        <mat-select [(ngModel)]="form_field" name="form_field">
          <mat-option value="users">Usuários</mat-option>
          <mat-option value="courses">Cursos</mat-option>
        </mat-select>
      </mat-form-field>
       no moodle
       <mat-form-field class="mat-form" >
         <mat-select  [(ngModel)]="form_moodle" name="form_moodle">
           <mat-option *ngFor="let moodle of moodles let i = index" [value]="moodle">{{moodle.name}}</mat-option>
         </mat-select>
       </mat-form-field>
       <input style="width:100px"type="submit" name="search-submit" class="form-control btn btn-primary"value="Buscar">
    </h4>
  </form>
  <div class="result">
    <flash-messages></flash-messages>
    <div *ngIf="!isEmpty">
      <div *ngIf="isCoursesResult"class="coursesResult">
        <ul>
          <li *ngFor="let course of result" (click)="goToCoursePage(course)">
            <h5><strong>{{course.fullname}}</strong></h5>
          </li>
        </ul>
      </div>
      <div *ngIf="isUsersResult" class="users-result">
        <ul>
          <li *ngFor="let user of users">
            <div class="user-elements">
              <div class="user-element user-img"><img [attr.src]="user.profileimageurl" alt=""></div>
              <div class="user-element user-name"><h5><strong>{{user.fullname}}</strong></h5></div>
              <div class="icons user-element" >
                <i (click)="userReport(user.fullname, user.id)"class="material-icons md-24">content_paste</i>
                <i class="material-icons">create</i>
                <i class="material-icons">remove_circle</i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isEmpty" class="alert alert-warning" role="alert">
      <p>A busca não retornou resultados, verifique se o objeto da busca foi digitado corretamente e tente outra vez</p>
    </div>
  </div>
</div>
