<h2>MOODLES REGISTRADOS</h2>
<div class="addItemContainer">

  <ul>
    <li *ngFor = "let moodle of moodles; let i = index">
      <div (click)="onMoodleSelected(i)" class="moodle-elements">
        <div [hidden]="statusA[i]" class="moodle-element moodle-status"><i class="material-icons moodle-status">radio_button_unchecked</i>indisponível</div>
        <div [hidden]="!statusA[i]" class="moodle-element moodle-status" style="color:green"><i class="material-icons moodle-status">radio_button_checked</i>disponível</div>
        <div class="moodle-element moodle-name"><h3>{{moodle.name}}</h3></div>
        <div class="moodle-element moodle-remove"><i class="material-icons moodle-remove">remove_circle</i></div>
      </div>
    </li>
    <!-- <li>
      <div class="moodle-elements" style="margin-top:30px">
        <div [hidden]="status" class="moodle-element moodle-status"><i class="material-icons moodle-status">radio_button_unchecked</i>indisponível</div>
        <div [hidden]="!status" class="moodle-element moodle-status" style="color:green"><i class="material-icons moodle-status">radio_button_checked</i>disponível</div>
        <div class="moodle-element moodle-name"><h3>Todos</h3></div>
        <div class="moodle-element moodle-remove"><i class="material-icons moodle-remove">remove_circle</i></div>
      </div>
    </li> -->
  </ul>
</div>

<button  (click)="showDiv()" class="btn btn-primary">+</button>
<div ng-hide="showDiv()"  class="addItem">
  <h3>Adicionar novo moodle</h3>
  <form (submit)="onAddSubmit()">
    <div class="form-group">
      <input type="text" [(ngModel)]="name" name="name"class="addText" placeholder="Nome do moodle">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="url" name="url" class="addText" placeholder="Endereço do moodle">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="token" name="token" class="addText" placeholder="Token">
    </div>
    <input class="btn btn-primary" type="submit" name="addItem-submit" value="Adicionar">
  </form>
</div>
