<h2>MOODLES REGISTRADOS</h2>
<div *ngIf="user" class="moodle-reg-container">
  <mat-accordion *ngFor="let moodle of user.moodles; let i = index" class="example-headers-align">
    <mat-expansion-panel [expanded]="step !== 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-description>
          <h3>{{moodle.name}}</h3>
          <mat-icon (click)="removeMoodle(moodle._id)" class="remove-circle-icon">remove_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="moodleInforWrapper">
        <table class="tb_moodleInfo">
          <tr>
            <th>Nome do moodle</th>
            <th>Endereço url</th>
            <th>Token</th>
          </tr>
          <tr>
            <td>{{moodle.name}}</td>
            <td>{{moodle.url}}</td>
            <td>{{moodle.token}}</td>
            <td  (click)="editMoodle(moodle)"class="iconCell">Editar<mat-icon class="i_mode_edit">mode_edit</mat-icon></td>
          </tr>
        </table>

      </div>

      <!-- <form [formGroup]="rForm" (submit)="onUpdateSubmit(rForm, moodle._id)">
        <mat-form-field>
          <input formControlName="name" matInput required type="text" class="addText" placeholder="Nome do moodle" value="{{moodle.name}}">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="url" matInput type="text"  class="addText" placeholder="Endereço do moodle" value="{{moodle.url}}">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="token" matInput type="password"  class="addText" placeholder="Token" value="{{moodle.token}}">
        </mat-form-field>
        <input class="btn btn-primary" type="submit" name="update-submit" value="Atualizar">
      </form> -->
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="example-headers-align ">
    <mat-expansion-panel [expanded]="step !== 0" (opened)="setStep(0)" hideToggle="true" >
      <mat-expansion-panel-header class="acc-add-moodle">
        <mat-panel-description>
          <h3>Adicionar novo moodle</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form (submit)="onAddSubmit()">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="add_moodle_name" #nameModel="ngModel" name="name"class="addText" placeholder="Nome do moodle">
          <!-- <div class="alert alert-danger" *ngIf="nameModel.touched && !nameModel.valid">Campo requerido</div> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="add_moodle_url" name="url" class="addText" placeholder="Endereço do moodle">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="add_moodle_token" name="token" class="addText" placeholder="Token">
        </mat-form-field>
        <input class="btn btn-primary" type="submit" name="update-submit" value="Adicionar">
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <button  (click)="showDiv()" class="btn btn-primary">+</button>
<div ng-hide="showDiv()"  class="addItem">
  <h3>Adicionar novo moodle</h3>
  <form (submit)="onAddSubmit()">
    <div class="form-group">
      <input type="text" [(ngModel)]="name" name="name"class="addText" placeholder="Nome do moodle">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="url" name="url" class="addText" placeholder="Endereço do moodle">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="token" name="token" class="addText" placeholder="Token">
    </div>
    <input class="btn btn-primary" type="submit" name="addItem-submit" value="Adicionar">
  </form>
</div> -->
