<div class="container">
  <div class="row">
    <div class="content col-md-12">
      <h2 style="margin-bottom: 35px">MOODLES REGISTRADOS</h2>
      <div *ngIf="user" class="moodle-reg-container">
        <mat-accordion *ngFor="let moodle of moodles; let i = index" class="example-headers-align">
          <mat-expansion-panel [expanded]="step !== 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h3>{{moodle.name}}</h3>
                <div class="icons">
                  <mat-icon (click)="editMoodle(moodle)" class="icon-mode-edit">mode_edit</mat-icon>
                  <mat-icon (click)="removeMoodle(moodle)" class="icon-remove-circle">remove_circle</mat-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="moodleInforWrapper">
              <table class="tb_moodleInfo">
                <tr>
                  <th>Nome do moodle</th>
                  <th>Endereço url</th>
                  <th>Token</th>
                </tr>
                <tr>
                  <td>{{moodle.name}}</td>
                  <td>{{moodle.url}}</td>
                  <td>{{moodle.token}}</td>
                </tr>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="bt-add-moodle btn btn-primary col-md-4 col-md-offset-4" (click)="addMoodle()">
          Adicionar Moodle
        </div>
        <!-- <mat-accordion class="example-headers-align acc-add-moodle">
          <mat-expansion-panel [expanded]="step !== 0" (opened)="setStep(0)" hideToggle="true" >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h3>Adicionar novo moodle</h3>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form  [formGroup]="fg_add_moodle">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="add_moodle_name"  name="name"class="addText" placeholder="Nome do moodle" formControlName="name">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="url" [(ngModel)]="add_moodle_url" name="url" class="addText" placeholder="Endereço do moodle" formControlName="url">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="add_moodle_token" name="token" class="addText" placeholder="Token" formControlName="token">
              </mat-form-field>
              <button type="button" name="button" class="btn btn-primary" (click)="addMoodle()" [disabled]="!fg_add_moodle.valid">Adicionar</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion> -->
      </div>
    </div>
  </div>
</div>
